.title-page {
    border-left: 5px solid gold;
    padding-left: 5px;
}

table {
    margin: 0 auto;
    margin-top: 85px;
    border-collapse: collapse;
}

table thead {
    background-color: blue;
    border: 3px solid blue;
}

table thead tr th {
    padding: 3px;
    font-size: 14px;
    color: white;
    padding-right: 85px;
}

table tbody {
    background-color: rgb(233, 228, 228);
}

table tbody tr td {
    padding: 4px;
    font-size: 14px;
}

.btn-nova-busca {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: blue;
    border: 3px solid blue;
    border-radius: 5px;
}